:root {
  --red: #e62020;
  --black: #140101;
  --white: #fff9f1;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--white);
}

/* 
Overall site wrapper 
Mobile-first design with single column
*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'landing'
    'movie'
    'about'
    'work'
    'footer';
}

/* Landing section */
.landing {
  grid-area: landing;
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 100vh;
}

/* Vertical image gallery in landing */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__image {
  width: 80px;
  filter: grayscale(100%);
  background: var(--black);
  padding: 0;
  margin: 10px 10px 0 10px;
}

.gallery__image:last-child {
  margin-bottom: 10px;
}

/* Big red hero space in landing */
.hero {
  background: var(--red);
  margin: 10px 10px 10px 0;
}

.nav {
  margin: 0;
  padding: 10px 0 0 1em;
}

.nav .nav__item {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
}

.nav .nav__item a {
  text-decoration: none;
  color: var(--black);
}

.nav .nav__item a:hover {
  color: var(--white);
}

/* Showcase movie title */
.movie {
  grid-area: movie;
}

.movie__title {
  text-align: center;
  margin: 0 auto;
  font-size: 1.85em;
  text-transform: uppercase;
  letter-spacing: 0.035em;
}

.movie__title a {
  text-decoration: none;
  color: var(--red);
}

.movie__title a:hover {
  color: var(--black);
}

.about__header,
.work__header {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0.5em 0 0;
  border-right: 1px solid var(--red);
}

.about__text,
.work__item .item__text {
  line-height: 1.5em;
}

/* About me */
.about {
  grid-area: about;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  margin: 1em auto 2em auto;
  padding: 0 1em 0 0.5em;
  max-width: 600px;
  font-size: 1em;
}

.work {
  grid-area: work;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  margin: 0 auto 2em auto;
  padding: 0 1em 0 0.5em;
  max-width: 600px;
}

.work__header {
  grid-row: span 3;
}

.work__item {
  grid-column: 2 / 3;
  padding-bottom: 1em;
}

.work__item .item__header {
  font-size: 1.5em;
  color: var(--red);
}

.work__item .item__specs {
  padding: 0.5em 0;
}

.work__item .item__text {
  font-size: 0.9em;
  padding: 0.5em 0;
}

.work__item img {
  width: 100%;
  max-width: 250px;
  height: 150px;
}

.work__item i {
  color: var(--red);
  font-size: 1.25em;
}

.work__item .item__extra-details {
  transform: rotateX(90deg);
  transition: all 0.5s;
  overflow: hidden;
  max-height: 0;
}

.work__item .item__extra-details.reveal {
  transform: rotateX(0);
  max-height: 500px;
  /* margin-top: 1em; */
}

/*  FOOTER  */
.footer {
  grid-area: footer;
  margin: 0 auto;
  text-align: center;
}

.footer .email {
  font-size: 1.25em;
  display: block;
  padding-bottom: 2em;
  text-decoration: none;
  color: var(--red);
}

.footer .email:hover {
  color: var(--black);
}

.footer .key {
  color: var(--black);
  padding-bottom: 0.5em;
  font-size: 1em;
}

.footer .key_link {
  font-size: 1em;
  color: var(--red);
  text-decoration: none;
}

.footer .key_link:hover {
  color: var(--black);
}

.footer p.signature {
  padding-top: 3em;
}

.footer p.signature,
.footer p.signature a {
  text-decoration: none;
  color: var(--black);
}

.footer p.signature a:hover {
  color: var(--red);
}

/* @media screen and (min-width: 640px) {

} */
