:root {
  --red: #E62020;
  --black: #140101;
  --white: #fff9f1;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Coda', cursive;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--white);
}

/* 
Overall site wrapper 
Mobile-first design with single column
*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "landing"
                      "movie"
                      "sundance"
                      "vision"
                      "about"
                      "past-work"
                      "footer";
}

/* Landing section */
.landing {
  grid-area: landing;
  display: grid;
  grid-template-columns: 70px 1fr;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

/* Vertical image gallery in landing */
.landing__gallery {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr;
}

.landing__gallery img {
  width: 70px;
  filter: grayscale(100%);
  /* filter: sepia(50%); */
  background: var(--black);
}

/* Big red hero space in landing */
.landing__hero {
  grid-row: span 8;
  background: var(--red);
  margin-left: 0.5em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr repeat(4, auto) 1fr;
  grid-template-areas: ". first-name . chinese-1 chinese-2 ."
                      ". chinese-3 last-name chinese-4 chinese-5 ."
}

.landing__hero p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0.5em 0;
  font-size: 1.25em;
  padding: 0;
}

.landing__hero .first-name, 
.landing__hero .last-name {
  color: var(--white);
}

.landing__hero .first-name {
  grid-area: first-name;
  align-self: end;
}
.landing__hero .last-name {
  grid-area: last-name;
}
.landing__hero .chinese-1 {
  grid-area: chinese-1;
  align-self: end;
}
.landing__hero .chinese-2 {
  grid-area: chinese-2;
}
.landing__hero .chinese-3 {
  grid-area: chinese-3;
  align-self: center;
}
.landing__hero .chinese-4 {
  grid-area: chinese-4;
  align-self: end;
}
.landing__hero .chinese-5 {
  grid-area: chinese-5;
  align-self: start;
}
/* .landing__hero .statement {
  grid-area: statement;
  grid-row: span 2;
  justify-self: right;
  align-self: center;
  writing-mode: horizontal-tb;
  color: var(--white);
  font-size: 0.9em;
  line-height: 2em;
  margin-right: 1em;
  width: 65%;
  display: none;
} */

/* Showcase movie title */
.movie {
  grid-area: movie;
  margin: 0;
  padding: 0;
}

.movie__title {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-size: 3em;
  color: var(--red);
  /* border: 1px solid red; */
}

.sundance {
  grid-area: sundance;
  padding: 0;
}

.sundance__text {
  margin: 0 auto 1em auto;
  font-size: 1.45em;
  text-align: center;
  color: var(--red);
}

.sundance__text .strong {
  font-weight: bold;
  text-transform: uppercase;
}

/* Artist vision */
.vision {
  grid-area: vision;
  margin: 0 auto 2em auto;
  padding: 0 1em 0 0.5em;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  font-size: 1em;
}

.vision__header, 
.about__header,
.past-work__header {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  margin: 0;
  margin-top: 0.2em;
  padding: 0;
  padding-right: 0.25em;
  border-right: 1px solid var(--red);
}

/* Past work  */
.past-work__header {
  margin-top: 0.33em;
}

.vision__text, 
.about__text ,
.past-work__text {
  margin-top: .5em;
  padding: 0;
}

/* About me */
.about {
  grid-area: about;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  margin: 0 auto 2em auto;
  padding: 0 1em 0 0.5em;
  max-width: 600px;
  font-size: 1em;
}

.past-work {
  grid-area: past-work;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  margin: 0 auto 2em auto;
  padding: 0 1em 0 0.5em;
  max-width: 600px;
}

.past-work__header {
  grid-row: span 3;
}

.past-work__item {
  grid-column: 2 / 3;
  margin-top: 0.5em;
}

.past-work__item .item__header {
  margin: 0;
  font-size: 1.5em;
  color: var(--red);
}

.past-work__item .item__specs {
  margin: 0;
}

.past-work__item .item__image {
  margin: 0;
}

.past-work__item .item__text {
  margin: 0;
  font-size: 1em;
}

.past-work__item img {
  width: 100%;
  max-width: 250px;
  height: 150px;
}

.past-work__item button {
  border: none;
  background: transparent;
  color: var(--red);
  font-size: 1em;
  padding: 0;
}

.past-work__item button:focus {
  outline: 0;
}

.past-work__item .item__extra-details {
  transform: rotateX(90deg);
  transition: all 0.5s;
  overflow: hidden;
  max-height: 0
}

.past-work__item .item__extra-details .item__text{
  margin-bottom: 1em;
}

.past-work__item .item__extra-details.reveal {
  transform: rotateX(0);
  max-height: 500px;
  margin-top: 1em;
}

/*  FOOTER  */
.footer {
  grid-area: footer;
  margin: 0 auto;
  text-align: center;
}

.footer .email {
  display: block;
  text-decoration: none;
  color: var(--red);
}

.footer i {
  color: var(--red);
  font-size: 1.5em;
  margin: 0.25em;
}

.footer p.signature a {
  text-decoration-style: dotted;
  color: var(--black);
}

/* @media screen and (min-width: 640px) {

} */