*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F8F4F4;
  --dark-purple: #492F81;
  --light-purple: #8d2a6b;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Poiret One', cursive; */
  font-weight: 200;
}

h2 {
  font-family: 'Poiret One', cursive;
}

img {
  width: 100%;
  margin: auto;
}

.landing {
  background-image: url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* display: grid;
  justify-content: start;
  align-content: start; */
}

.landing .logo {
  max-width: 50vw;
  margin: 20px 0 0 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70vh, 30vh, 60vh, 40vh, 50vh, auto, auto, 100vh, 100vh, auto;
  grid-template-areas: "landing"
                      "info"
                      "about"
                      "sign"
                      "gallery"
                      "food-drink"
                      "menu"
                      "chef"
                      "sharkey"
                      "footer";
}
