*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F8F4F4;
  --dark-purple: #492F81;
  --light-purple: #8d2a6b;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background: var(--bg-color);
}

h2 {
  font-family: 'Poiret One', cursive;
  text-align: center;
}

img {
  width: 100%;
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70vh repeat(7, auto);
  grid-template-areas: "landing"
  "info"
  "about"
  "gallery"
  "food-drink"
  "menu"
  "team"
  "footer";
}

.landing {
  grid-area: landing;
  background-image: url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  /* display: grid;
  justify-content: start;
  align-content: start; */
}

.landing__logo {
  width: 65vw;
  margin: 20px 0 0 20px;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info p, a {
  font-size: 16px;
  margin: 0;
  padding: 5px;
}

.info a {
  color: var(--light-purple);
  text-decoration: none;
}

.info__hours, info__address {
  font-variant: small-caps;
}

.info p:first-child {
  margin-top: 10px;
}

.fab.fa-instagram {
  font-size: 28px;
  color: black;
}

.divider {
  margin: 10px auto;
  width: 75%;
  background: var(--dark-purple);
  min-height: 1px;
  grid-column: span 2;
}

.about {
  grid-area: about;
  margin: 0 auto;
  padding: 5px;
  width: 90vw;
}

.about .highlight {
  color: var(--light-purple);
  font-weight: 400;
}

.sign {
  grid-area: sign;
}

.gallery {
  grid-area: gallery;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.food-drink {
  grid-area: food-drink;
  margin: 0 auto;
  width: 90vw;
  padding: 5px;
}

.menu {
  grid-area: menu;
  max-width: 450px;
  margin: 0 auto;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  /* position: sticky;
  top: 0;
  background: var(--bg-color);
  padding: 20px 0; */
}

.nav__item {
  text-align: center;
  margin: 0 10px;
}

.nav__link {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.nav__link.clicked {
  border-bottom: 2px var(--light-purple) solid;
  color: var(--light-purple);
  transition: all ease-out 0.2s;
}

.menu__legend {
  font-size: 12px;
  margin: 20px;
  text-align: center;
}

.menu__legend p {
  margin: 5px;
}

.menu__legend .bold {
  font-weight: bold;
}

.menu__group {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-size: 12px;
  display: none;
  margin: 0 20px;
}

.menu__group.reveal {
  display: block;
}

.menu .menu__heading {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 18px;
  margin: 10px 0 5px 0;
}

.menu__item {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-areas: "name price"
                      "ingr ingr";
  margin: 5px 0 0 0;
}

.menu__item > p {
  margin: 0;
}

.menu__item .name {
  grid-area: name;
  font-weight: bold;
}

.menu__item .price {
  grid-area: price;
  font-weight: bold;
}

.menu__item .ingr {
  grid-area: ingr;
  margin-bottom: 5px;
}

.menu__addon {
  display: grid;
  grid-template-columns: 1fr 30px;
  margin: 0 0 0 10px;
}

.menu__addon > p {
  margin: 0;
}

.menu__addon .bold,
.menu__item .bold,
.menu__sides .bold  {
  font-weight: bold;
}

.team {
  grid-area: team;
}

.footer {
  grid-area: footer;
}